<div class="flex space-x-4  mt-5">
  <div class="w-56">
      <ul>
          <li>
              <a class="text-center block border border-blue-20 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="#" routerLink="/">All</a>
          </li>
          @for (category of categories(); track category) {
<li>
              <a class="text-center block border border-blue-20 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="#" routerLink="/" [queryParams]="{category_id: category.id}">{{ category.name }}</a>
          </li>
}
      </ul>
  </div>
  <div class="grid grid-cols-4 gap-8 w-full">
      @for (product of products(); track product) {
<app-product
         
          [product]="product"
          (addToCart)="addToCart($event)" />
}
  </div>
  
</div>